.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(163, 200, 230);
}

.container{
    text-align: center;
    height: 400px;
    width: 400px;
    border: 3px solid black;
    background-color: bisque;
    border-radius:  20px ; 
    box-shadow: -2px 2px 20px rgba(223, 134, 25 ); 
    justify-content: space-between;
}
h1{
    margin-top: 40px;
    font-weight: 700;
    font-family: cursive;
}
.move-text{
    font-size: 20px;
    font-weight: 600;
    margin-top: 150px;
}
.game_btn{
    font-size: 60px;

}

button{
    font-size: 20px;
    border-radius: 30px;
    color: rgb(59, 2, 49);
    background-color: rgba(24, 50, 42,0.8);
    

}

button:active{


    background-color: rgb(159, 92, 5);
}

.display{
    color:rgb(23, 22, 23) ;
    /* background-color:purple ; */
    border-radius: 30px;
    background: linear-gradient(rgb(25, 143, 227),rgb(124, 124, 162),rgb(243, 222, 226));
    font-family: cursive;
    font-size: 20px;
}

.result{
    margin-top: 10px;
    width: 400px;
    height: 60px;
    background-color: rgb(79, 68, 55);
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    
    
}
.result p{
    margin: 0;
    color: rgb(192, 194, 207);
    font-size: 18px;
     
    margin-left: 40px;
    margin-top: 3px;
    
}